<p class="characteristic-description">{{localize "HOUSEHOLD.ActionI.long" }}</p>
<input id="action_1" value="{{ action_1.text }}" placeholder="{{ action_1.placeholder }}" />
<p class="characteristic-description">{{localize "HOUSEHOLD.ActionII.long" }}</p>
<input id="action_2" value="{{ action_2.text }}" placeholder="{{ action_2.placeholder }}" />
<p class="characteristic-description">{{localize "HOUSEHOLD.ActionIII.long" }}</p>
<input id="action_3" value="{{ action_3.text }}" placeholder="{{ action_3.placeholder }}" />
<p class="characteristic-description">{{localize "HOUSEHOLD.ActionIV.long" }}</p>
<input id="action_4"value="{{ action_4.text }}" placeholder="{{ action_4.placeholder }}" />
<p class="characteristic-description">{{localize "HOUSEHOLD.ActionV.long" }}</p>
<input style="margin: 0xp; padding: 0px;" id="action_5" value="{{ action_5.text }}" placeholder="{{ action_5.placeholder }}" />
<p class="characteristic-description">{{localize "HOUSEHOLD.ActionVI.long" }}</p>
<input name="action_6" value="{{ action_6.text }}" placeholder="{{ action_6.placeholder }}" />