<header class="sheet-header">
  
  <div class="char-header grid grid-4col">
    <!-- Image -->
    <img class="profile-img" src="{{actor.img}}" style="border: 0px; margin-right: 5px; cursor: pointer; grid-row: 1 / span 2;" data-action="editImage" data-field="img" data-tooltip="Edit Image" title="{{actor.name}}" height="100" width="100" />
    
     <!-- Character name -->
    <h1 class="char-name  grid-span-3" style="margin: 0">
      <input class="char-name" name="name" type="text" value="{{actor.name}}" placeholder="Name" style="font-size: smaller;" />
    </h1>

     <!-- Resources -->
  <div class=" grid grid-7col grid-span-3 grid-row-start-2" style="justify-items: center;
    align-items: center;
    text-align: center;">

      <div class="resource flex-group-center grid-span-3"  style="margin: 0">
        <div class="resource-content flexrow flex-center flex-between">
          {{#when system.threat.level 'lteq' 1}}
          <h4 class="characteristic-description" style="text-align: center; margin: 0;">{{localize "HOUSEHOLD.BasicOpponent.long"}}</h4>
          {{else}}
          <h4 class="characteristic-description" style="text-align: center; margin: 0;">{{localize "HOUSEHOLD.CriticalOpponent.long"}}</h4>
          {{/when}}
        </div>
      </div>

      <div class="resource flex-group-center grid-span-3">
        <div class="">
          {{#numLoop 5}}
            {{#when ../system.threat.level 'gteq' this }}
              {{#when ../system.threat.level 'eq' this }}
                <input type="radio" class="input-hidden" id="{{../id}}-threat_{{this}}" name="system.threat.level" value="{{reduceBy this 1}}" data-dtype="Number" data-character-id="{{../id}}" >
              {{else}}
                <input type="radio" class="input-hidden" id="{{../id}}-threat_{{this}}" name="system.threat.level" value="{{this}}" data-dtype="Number" data-character-id="{{../id}}" >
              {{/when}}
               <label for="{{../id}}-threat_{{this}}" style="cursor: pointer">
                <i style="font-size: 1.0em; margin: 2px; color: #612877" class="fa-solid fa-spider"></i>
              </label>
            {{else}}
              <input type="radio" class="input-hidden" id="{{../id}}-threat_{{this}}" name="system.threat.level" value="{{this}}" data-dtype="Number" >
                <label for="{{../id}}-threat_{{this}}" style="cursor: pointer">
                <i style="font-size: 1.0em; margin: 2px; color: #612877" class="fa-thin fa-spider"></i>
              </label>
            {{/when}}

          {{/numLoop}}
        </div>
      </div>
      <div class="resource flex-group-center">
        <a class="item roll-action rollable" data-type="action" data-action="roll" title="{{localize "HOUSEHOLD.RollActions.long"}}"><i class="fa-solid fa-dice"></i></a>
      </div>

    </div>
  </div>
</header>
