<section class="tab {{tabs.actions.cssClass}}" data-tab="{{tabs.actions.id}}" data-group="{{tabs.actions.group}}" style="overflow: auto">
  {{!-- <h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Edit.ActionTable.long"}}</h2> --}}

  

    <div class="action-field">
      <h2 class="characteristic-title" for="action_1">{{localize "HOUSEHOLD.ActionI.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_1" id="action_1" value="{{system.actions.action_1}}" placeholder="{{localize 'HOUSEHOLD.ActionI.long'}}" />
    </div>

    <div class="action-field">
      <h2 class="characteristic-title" for="action_2">{{localize "HOUSEHOLD.ActionII.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_2" id="action_2" value="{{system.actions.action_2}}" placeholder="{{localize 'HOUSEHOLD.ActionII.long'}}" />
    </div>

    <div class="action-field">
      <h2 class="characteristic-title" for="action_3">{{localize "HOUSEHOLD.ActionIII.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_3" id="action_3" value="{{system.actions.action_3}}" placeholder="{{localize 'HOUSEHOLD.ActionIII.long'}}" />
    </div>

    <div class="action-field">
      <h2 class="characteristic-title" for="action_4">{{localize "HOUSEHOLD.ActionIV.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_4" id="action_4" value="{{system.actions.action_4}}" placeholder="{{localize 'HOUSEHOLD.ActionIV.long'}}" />
    </div>

    <div class="action-field">
      <h2 class="characteristic-title" for="action_5">{{localize "HOUSEHOLD.ActionV.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_5" id="action_5" value="{{system.actions.action_5}}" placeholder="{{localize 'HOUSEHOLD.ActionV.long'}}" />
    </div>

    <div class="action-field">
      <h2 class="characteristic-title" for="action_6">{{localize "HOUSEHOLD.ActionVI.long"}}</h2>
      <input class="form__field" type="text" name="system.actions.action_6" id="action_6" value="{{system.actions.action_6}}" placeholder="{{localize 'HOUSEHOLD.ActionVI.long'}}" />
    </div>

  

  {{!-- <div class="roll-action-description" style="margin-top: 2rem;">
    <h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.RollActions.long"}} - Preview</h2>
    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionI.long"}}</h3>
      <p>{{system.actions.action_1}}</p>
    </div>

    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionII.long"}}</h3>
      <p>{{system.actions.action_2}}</p>
    </div>

    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionIII.long"}}</h3>
      <p>{{system.actions.action_3}}</p>
    </div>

    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionIV.long"}}</h3>
      <p>{{system.actions.action_4}}</p>
    </div>

    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionV.long"}}</h3>
      <p>{{system.actions.action_5}}</p>
    </div>

    <div class="resource flex-group-center">
      <h3 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.ActionVI.long"}}</h3>
      <p>{{system.actions.action_6}}</p>
    </div>
  </div> --}}
</section>
