{{!-- Owned Items Tab --}}
<section class="tab items {{tabs.items.cssClass}}"
         data-tab="items" data-group="primary">
  <div class="flexrow flexcenter">
    <div class="flexcenter">
      <h3 style="text-align: center" class="characteristic-description">{{localize "HOUSEHOLD.Wealth.long"}}</h3>
    </div>
    <div class="resource">
      <input type="text" name="system.wealth" value="{{system.wealth}}" data-dtype="String" />
    </div>

    <div class="flexcenter">
      <h3 class="characteristic-description" style="text-align: center">{{localize "HOUSEHOLD.Coins.long"}}</h3>
    </div>
    <div class="resource">
      <input type="text" name="system.coins" value="{{system.coins}}" data-dtype="String" />
    </div>
  </div>

  <h2 class="characteristic-title">{{localize "HOUSEHOLD.SheetLabels.General"}}
    <button class="create-item-circle" data-action="itemCreate" data-type="item"></button>
  </h2>
  {{> "systems/household/templates/actor/char/parts/actor-list-items.hbs" items=gear type='equipament'}}
  <br />

  <h2 class="characteristic-title">{{localize "HOUSEHOLD.Weapons.long"}}
    <button class="create-item-circle" data-action="itemCreate" data-type="weapon"></button>
  </h2>
  {{> "systems/household/templates/actor/char/parts/actor-list-items.hbs" items=weapons type='weapon'}}
  <br />

  <h2 class="characteristic-title">{{localize "HOUSEHOLD.Gadgets.long"}}
    <button class="create-item-circle" data-action="itemCreate" data-type="gadget"></button>
  </h2>
  {{> "systems/household/templates/actor/char/parts/actor-list-items.hbs" items=gadgets type='equipament'}}
</section>
