{{!-- Sheet Header --}}
<header class="sheet-header">
  
  <div class="char-header grid grid-5col">

  <!-- Image -->
  <img
    class="profile-img grid-span-1 grid-row-span-2"
    src="{{actor.img}}"
    data-action="editImage"
    data-field="img"
    title="Gwen Summers"
    height="100"
    width="100"
  >

  <!-- Character name -->
  <h1 class="charname grid-span-4">
    <input
      class="char-name"
      name="name"
      type="text"
      value="{{actor.name}}"
      placeholder="Name"
    >
  </h1>

  <!-- Resources -->
  <div class="resources grid grid-4col grid-span-4">

    <div class="resource__group">
      <input class="form__field" name="system.folk" value="{{actor.system.folk}}" type="text" data-dtype="String"/>
      <label class="form__label">Folk</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.homeland" value="{{actor.system.homeland}}" type="text" data-dtype="String"/>
      <label class="form__label">Homeland</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.profession" value="{{actor.system.profession}}" type="text" data-dtype="String"/>
      <label class="form__label">Profession</label>
    </div>

    <div class="resource__group">
      <input class="form__field" name="system.vocation" value="{{actor.system.vocation}}" type="text" data-dtype="String"/>
      <label class="form__label">Vocation</label>
    </div>

  </div>
</div>

</header>
