<h2 class="characteristic-title">{{localize "HOUSEHOLD.Traits.long"}}</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=traits type='trait'}}


<h2 class="characteristic-title">{{localize "HOUSEHOLD.Decorum.long"}}</h2>

<div class=" grid-decorum  flex-group-center ">
  <div class=" decorum_1 decorum">
    <input type="radio" id="{{actor.id}}-decorum_1" name="system.decorum" value="1" data-dtype="Number" {{doCheckIf system.decorum 'eq' 1}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Shabby" data-name="">{{localize "HOUSEHOLD.Decorum.Shabby"}}</div>
    </span>
  </div>

  <div class="decorum_3 decorum">
    <input type="radio" id="{{actor.id}}-decorum_3" name="system.decorum" value="3" data-dtype="Number" {{doCheckIf system.decorum 'eq' 3}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Elegant" data-name="">{{localize "HOUSEHOLD.Decorum.Elegant"}}</div>
    </span>
  </div>
  
  <div class=" decorum_5 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_5" name="system.decorum" value="5" data-dtype="Number" {{doCheckIf system.decorum 'gteq' 5}}>
  </div>
  
  <div class=" decorum-text  ">
      <span class="custom-system-label-root">
        <div class="custom-system-label-icons"></div>
        <div class="custom-system-label custom-system-label-label" data-value="Uncouth" data-name="">{{localize "HOUSEHOLD.Decorum.Uncouth"}}</div>
      </span>
  </div>
  
  <div class=" decorum_2 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_2" name="system.decorum" value="2" data-dtype="Number" {{doCheckIf system.decorum 'eq' 2}}>
  </div>
  
  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Decent" data-name="">{{localize "HOUSEHOLD.Decorum.Decent"}}</div>
    </span>
  </div>
  
  <div class=" decorum_4 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_4" name="system.decorum" value="4" data-dtype="Number" {{doCheckIf system.decorum 'eq' 4}}>
  </div>
  
  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Pompous" data-name="">{{localize "HOUSEHOLD.Decorum.Pompous"}}</div>
    </span>
  </div>
</div>


<!--Stress-->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Stress.long"}}</h2>
<div class="flexrow">
  {{#numLoop system.stress.value}}
    <div class=''>
      {{#when ../system.stress.current 'gteq' this}}
        {{#when this 'eq' ../system.stress.danger}}
          <input id="stress-{{this}}-{{../actor.id}}" 
                 class="input-hidden" 
                 type="radio" max="2" 
                 name="system.stress.current"
                 value="{{reduceBy this 1}}"
                 data-dtype="Number" />
          <label class="label-stress stress-rosette-damage" 
                 for="stress-{{this}}-{{../actor.id}}">
          </label>
        {{else}}
        <input id="stress-{{this}}-{{../actor.id}}" 
               class="input-hidden"
               type="radio" max="2"
               name="system.stress.current"
               value="{{reduceBy this 1}}"
               data-dtype="Number" />
        <label class="label-stress stress-square-damage" 
               for="stress-{{this}}-{{../actor.id}}">
        </label>
        {{/when}}
      {{else}}
        {{#when this 'eq' ../system.stress.danger}}
          <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
            value="{{this}}" data-dtype="Number" />
          <label class="label-stress stress-rosette" for="stress-{{this}}-{{../actor.id}}"> </label>
        {{else}}
          <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
            value="{{this}}" data-dtype="Number" />
          <label class="label-stress stress-square" for="stress-{{this}}-{{../actor.id}}"> </label>
        {{/when}}
      {{/when}}
    </div>
  {{/numLoop}}
</div>
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Conditions.long"}}</h2>
<div class="flexrow">
  <div class="flexcol">
    <div class="flexrow">
      <div>
        <label class="resource-label">{{localize "HOUSEHOLD.Conditions.Embarrassed"}}</label>
      </div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.embarrassed" {{doCheck system.conditions.embarrassed}} 
        data-value="{{system.conditions.embarrassed}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
    <div class="flexrow">
      <div>
        <label class="resource-label">{{localize "HOUSEHOLD.Conditions.Confused"}}</label>
      </div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.confused" {{doCheck system.conditions.confused}} 
        data-value="{{system.conditions.confused}}" data-dtype="Boolean" type="checkbox">
      </input>
      </div>
    </div>

    <div class="flexrow">
      <div>
        <label class="resource-label">{{localize "HOUSEHOLD.Conditions.Hurt"}}</label>
      </div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.hurt" {{doCheck system.conditions.hurt}} 
        data-value="{{system.conditions.hurt}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
  </div>
  <div class="flexcol">
    <div class="flexrow">
      <div>
        <label class="resource-label">{{localize "HOUSEHOLD.Conditions.Frightened"}}</label>
      </div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.frightened" {{doCheck system.conditions.frightened}} 
        data-value="{{system.conditions.frightened}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
    <div class="flexrow">
      <div>
        <label class="resource-label">{{localize "HOUSEHOLD.Conditions.Tired"}}</label>
      </div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.tired" {{doCheck system.conditions.tired}} 
        data-value="{{system.conditions.tired}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
    <div class="flexrow">
      <div><label class="resource-label">{{localize "HOUSEHOLD.Conditions.Sick"}}</label></div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.sick" {{doCheck system.conditions.sick}} 
        data-value="{{system.conditions.sick}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>

  </div>
  <div class="flexcol">
    <div class="flexrow">
      <div><label class="resource-label">{{localize "HOUSEHOLD.Conditions.Poisoned"}}</label></div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.poisoned" {{doCheck system.conditions.poisoned}} 
        data-value="{{system.conditions.poisoned}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
    <div class="flexrow">
      <div><label class="resource-label">{{localize "HOUSEHOLD.Conditions.Broken"}}</label></div>
      <div>
        <input class="custom-edit" data-object="actor"
        data-path="system.conditions.broken" {{doCheck system.conditions.broken}} 
        data-value="{{system.conditions.broken}}" data-dtype="Boolean" type="checkbox">
        </input>
      </div>
    </div>
  </div>
</div>