<!-- conditions -->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Conditions.long"}}</h2>
<div class="conditions-grid flex-group-center">
  <input id="condition-embarrassed-{{actor.id}}" style="display: none" type="checkbox"
    name="system.conditions.embarrassed" value="{{system.conditions.embarrassed}}" data-dtype="Boolean" {{doCheck
    system.conditions.embarrassed}}>
  <label class="resource-label condition-icon" for="condition-embarrassed-{{actor.id}}">
    {{#if system.conditions.embarassed}}
    <i class="fa-solid fa-heart condition-icon-heart"></i>
    {{else}}
    <i class="fa-light fa-heart condition-icon-heart"></i>
    {{/if}}
    <span>{{localize "HOUSEHOLD.Conditions.Embarrassed"}}</span></label>

  <input id="condition-frightened-{{actor.id}}" style="display: none" type="checkbox"
    name="system.conditions.frightened" value="{{system.conditions.frightened}}" data-dtype="Boolean" {{doCheck
    system.conditions.frightened}}>
  <label class="resource-label condition-icon" for="condition-frightened-{{actor.id}}">
    {{#if system.conditions.frightened}}
    <i class="fa-solid fa-spade condition-icon-spade"></i>
    {{else}}
    <i class="fa-light fa-spade condition-icon-spade"></i>
    {{/if}}
    <span>{{localize "HOUSEHOLD.Conditions.Frightened"}}</span></label>

  <input id="condition-poisoned-{{actor.id}}" class="custom-condition-radio" type="checkbox"
    name="system.conditions.poisoned" value="{{system.conditions.poisoned}}" data-dtype="Boolean" {{doCheck
    system.conditions.poisoned}}>
  <label for="condition-poisoned-{{actor.id}}" class="resource-label">
    {{localize "HOUSEHOLD.Conditions.Poisoned"}}</label>



  <input id="condition-confused-{{actor.id}}" style="display: none" type="checkbox" name="system.conditions.confused"
    value="{{system.conditions.confused}}" data-dtype="Boolean" {{doCheck system.conditions.confused}}>
  <label class="resource-label condition-icon" for="condition-confused-{{actor.id}}">
    {{#if system.conditions.confused}}
    <i class="fa-solid fa-diamond condition-icon-diamond"></i>
    {{else}}
    <i class="fa-light fa-diamond condition-icon-diamond"></i>
    {{/if}}
    <span>{{localize "HOUSEHOLD.Conditions.Confused"}}</span></label>

  <input id="condition-tired-{{actor.id}}" class="custom-condition-radio" type="checkbox" name="system.conditions.tired"
    value="{{system.conditions.tired}}" data-dtype="Boolean" {{doCheck system.conditions.tired}}>
  <label class="resource-label" for="condition-tired-{{actor.id}}">
    {{localize "HOUSEHOLD.Conditions.Tired"}}</label>

  <input id="condition-broken-{{actor.id}}" class="custom-condition-radio" type="checkbox"
    name="system.conditions.broken" value="{{system.conditions.broken}}" data-dtype="Boolean" {{doCheck
    system.conditions.broken}}>
  <label for="condition-broken-{{actor.id}}" class="resource-label">
    {{localize "HOUSEHOLD.Conditions.Broken"}}</label>


  <input id="condition-hurt-{{actor.id}}" style="display:none" type="checkbox" name="system.conditions.hurt"
    value="{{system.conditions.hurt}}" data-dtype="Boolean" {{doCheck system.conditions.hurt}}>

  <label class="resource-label condition-icon" for="condition-hurt-{{actor.id}}">
    {{#if system.conditions.hurt}}
    <i class="fa-solid fa-club condition-icon-club"></i>
    {{else}}
    <i class="fa-light fa-club condition-icon-club"></i>
    {{/if}}
    <span>{{localize "HOUSEHOLD.Conditions.Hurt"}}</span></label>


  <input id="condition-sick-{{actor.id}}" class="custom-condition-radio" type="checkbox" name="system.conditions.sick"
    value="{{system.conditions.sick}}" data-dtype="Boolean" {{doCheck system.conditions.sick}}>
  </input>
  <label class="resource-label" for="condition-sick-{{actor.id}}">
    {{localize "HOUSEHOLD.Conditions.Sick"}}</label>
</div>
<!-- end conditions -->
<br />
<!-- Decorum -->
<h2 class="characteristic-title">{{localize "HOUSEHOLD.Decorum.long"}}</h2>

<div class=" grid-decorum  flex-group-center ">
  <div class=" decorum_1 decorum">
    <input type="radio" id="{{actor.id}}-decorum_1" name="system.decorum" value="1" data-dtype="Number" {{doCheckIf
      system.decorum 'eq' 1}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Shabby" data-name="">{{localize
        "HOUSEHOLD.Decorum.Shabby"}}</div>
    </span>
  </div>

  <div class="decorum_3 decorum">
    <input type="radio" id="{{actor.id}}-decorum_3" name="system.decorum" value="3" data-dtype="Number" {{doCheckIf
      system.decorum 'eq' 3}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Elegant" data-name="">{{localize
        "HOUSEHOLD.Decorum.Elegant"}}</div>
    </span>
  </div>

  <div class=" decorum_5 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_5" name="system.decorum" value="5" data-dtype="Number" {{doCheckIf
      system.decorum 'gteq' 5}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Uncouth" data-name="">{{localize
        "HOUSEHOLD.Decorum.Uncouth"}}</div>
    </span>
  </div>

  <div class=" decorum_2 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_2" name="system.decorum" value="2" data-dtype="Number" {{doCheckIf
      system.decorum 'eq' 2}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Decent" data-name="">{{localize
        "HOUSEHOLD.Decorum.Decent"}}</div>
    </span>
  </div>

  <div class=" decorum_4 decorum  ">
    <input type="radio" id="{{actor.id}}-decorum_4" name="system.decorum" value="4" data-dtype="Number" {{doCheckIf
      system.decorum 'eq' 4}}>
  </div>

  <div class=" decorum-text  ">
    <span class="custom-system-label-root">
      <div class="custom-system-label-icons"></div>
      <div class="custom-system-label custom-system-label-label" data-value="Pompous" data-name="">{{localize
        "HOUSEHOLD.Decorum.Pompous"}}</div>
    </span>
  </div>
</div>
<br />
<!-- Terrible Terrible Things -->
<h2 class="characteristic-title">{{localize "HOUSEHOLD.TTT.long"}}</h2>
<div class="flexrow">
  {{#numLoop 5}}

  {{#when ../system.ttt 'gteq' this}}
  <input class="input-hidden" type="radio" id="ttt-{{this}}-{{../actor.id}}" value="{{reduceBy this 1}}"
    name="system.ttt" data-dtype="Number" data-path="system.ttt">
  <div class="ttt-icon">
    <label style=" align-items: center;" for="ttt-{{this}}-{{../actor.id}}">
      <img class="custom-edit" width="28" height="28" style="border: 0px" src="/systems/household/assets/sheet/ttt{{this}}-filled.svg" data-value="{{reduceBy this 1}}" data-dtype="Number" data-path="system.ttt">
    </label>
  </div>
  {{else}}
  <input class="input-hidden" type="radio" id="ttt-{{this}}-{{../actor.id}}" value="{{this}}" name="system.ttt"
    data-dtype="Number" data-path="system.ttt">
  <div class="ttt-icon">
    <label style=" align-items: center;" for="ttt-{{this}}-{{../actor.id}}">
    <img class="custom-edit" width="28" height="28" data-value="{{this}}" data-dtype="Number" data-path="system.ttt"
        style="border: 0px" src="/systems/household/assets/sheet/ttt{{this}}.svg">
    </label>
  </div>
  {{/when}}
  {{/numLoop}}
</div>
<br />
<!-- Contracts -->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Contracts.long"}}
  <button class="create-item-circle" data-type="contract">
  <i class="fas fa-plus"></i>
</button>
</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=contracts type='contract'}}