{{#each contracts as |item id|}}
<details class='item' data-item-id='{{item._id}}' class="default square">
		<summary>
      <img style="border: 0px;" class="item-summary-title"
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
      <span class="item-summary-title" style="opacity: 1.0;">{{item.name}}</span>
          <label><a style="float:right; margin-left: 5px;" 
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='Item'}}'>
            <i class='fas fa-trash'></i>
          </a></label>
          <label><a style=" float:right; margin-left: 5px;" 
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='Item'}}'
          >
            <i class='fas fa-edit'></i>
          </a></label>
         
    </summary>
    <div class="flexrow">
      <div>
        <div class="">
          <h4 style=" font-weight: bold; text-align: center">{{localize "HOUSEHOLD.Concession.long"}}: {{item.system.concession.name}}</h4>
        </div>
        <div>{{{item.system.concession.details}}}</div>
      </div>
      <div>
        <div>
          <h4 style=" font-weight: bold; text-align: center">{{localize "HOUSEHOLD.Counterpart.long"}}: {{item.system.counterpart.name}}</h4>
        </div>
        <div>{{{item.system.counterpart.details}}}</div>
      </div>
    </div>
	</details>
  {{/each}}