{{#each moves as |item id|}}
<details class='item' data-item-id='{{item._id}}' class="default square">
		<summary>
      <img style="border: 0px;" class="item-summary-title"
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
      <span class="item-summary-title" style="opacity: 1.0;">{{item.name}}</span>
       {{#each item.system.suits as | value key|}}
          {{#if value}}
            <img style="vertical-align:middle; border: 0px" width="12" height="12" src="/systems/household/assets/sheet/{{key}}-filled.svg" />
            {{/if}}
        {{/each}}
          <label><a style="float:right; margin-left: 5px;" 
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='Item'}}'
          >
            <i class='fas fa-trash'></i>
          </a></label>
          <label><a style=" float:right; margin-left: 5px;" 
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='Item'}}'
          >
            <i class='fas fa-edit'></i>
          </a></label>
          {{#if item.system.exhausted}}
            <input id="move-{{item._id}}" class="input-hidden custom-edit" type="radio" max="2" data-object="item" 
            data-id="{{item._id}}" data-path="system.exhausted" data-value="{{item.system.exhausted}}" data-dtype="Boolean"/>
            <label class='item-control' style="float:right; margin-left: 5px; margin-right: 15px"  class="" for="move-{{item._id}}" > 
              <i style="color: red" class="fa-regular fa-toggle-large-off"></i></label>
          {{else}}
            <input id="move-{{item._id}}" class="input-hidden custom-edit" type="radio" max="2" data-object="item" 
            data-id="{{item._id}}" data-path="system.exhausted" data-value="{{item.system.exhausted}}" data-dtype="Boolean"/>
            <label class='item-control' style="float:right; margin-left: 5px;margin-right: 15px"  class=" " for="move-{{item._id}}" >
              <i style="color: green" class="fa-regular fa-toggle-large-on"></i></label>
          {{/if}}
    </summary>
    {{#if item.system.requirements}}
    <b>{{item.system.requirements}}</b><br /><br />
    {{/if}}
		{{{item.system.description}}}
	</details>
  {{/each}}