<!--Stress-->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Stress.long"}}</h2>
<div class="flexrow">
  {{#numLoop system.stress.value}}
  <div class=''>
    {{#when ../system.stress.current 'gteq' this}}
    {{#when this 'eq' ../system.stress.danger}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{reduceBy this 1}}" data-dtype="Number" />
    <label class="label-stress stress-rosette-damage" for="stress-{{this}}-{{../actor.id}}">
    </label>
    {{else}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{reduceBy this 1}}" data-dtype="Number" />
    <label class="label-stress stress-square-damage" for="stress-{{this}}-{{../actor.id}}">
    </label>
    {{/when}}
    {{else}}
    {{#when this 'eq' ../system.stress.danger}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{this}}" data-dtype="Number" />
    <label class="label-stress stress-rosette" for="stress-{{this}}-{{../actor.id}}"> </label>
    {{else}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{this}}" data-dtype="Number" />
    <label class="label-stress stress-square" for="stress-{{this}}-{{../actor.id}}"> </label>
    {{/when}}
    {{/when}}
  </div>
  {{/numLoop}}
</div>
<br />
<!-- Traits -->
<h2 class="characteristic-title">{{localize "HOUSEHOLD.Traits.long"}}</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=traits type='trait'}}
<br />
<!-- Aces up the sleeve -->
<div class="flexcol">
  <h2 class="characteristic-title ">{{localize "HOUSEHOLD.AcesSleeve.long"}}</h2>
</div>
{{#each system.aces as | value key|}}
<input id="aces-{{key}}-{{../actor.id}}" class="custom-edit input-hidden" type="checkbox" 
  data-dtype="Boolean" data-path="system.aces.{{key}}" data-value="{{value}}" data-object="actor" />
{{/each}}
<div class="" style="height: 70px; 
  justify-content: center; margin-left: 20%; padding-top: 5px; border: 0px solid #000">

  <label for="aces-heart-{{actor.id}}" class="aces-card aces-card-1">

    {{#if system.aces.heart}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-heart-filled.svg">
    {{else}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-heart.svg">
    {{/if}}
  </label>

  <label for="aces-diamond-{{actor.id}}" class="aces-card aces-card-2">
    {{#if system.aces.diamond}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-diamond-filled.svg">
    {{else}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-diamond.svg">
    {{/if}}
  </label>
  <label for="aces-club-{{actor.id}}" class="aces-card aces-card-3">
    {{#if system.aces.club}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-club-filled.svg">
    {{else}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-club.svg">
    {{/if}}
  </label>
  <label for="aces-spade-{{actor.id}}" class="aces-card aces-card-4">
    {{#if system.aces.spade}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-spade-filled.svg">
    {{else}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-spade.svg">
    {{/if}}
  </label>
  <label for="aces-joker-{{actor.id}}" class="aces-card aces-card-5">
    {{#if system.aces.joker}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-joker-filled.svg">
    {{else}}
    <img class="aces-card-img" src="/systems/household/assets/sheet/ace-joker.svg">
    {{/if}}
  </label>
</div>
<br />
<!-- Moves -->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Moves.long"}}</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=moves type='move'}}