{{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to
the rollData property. --}}
<!--Stress-->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Stress.long"}}
    <a style=" float:right; margin-left: 5px;" class='npc-popup-item-edit' title='' data-dtype="Number"
        data-path="system.stress.max" data-label="Stress" data-crucial_boxes="{{actor.system.crucial_boxes}}" data-value="{{actor.system.stress.max}}">
        <i class='fas fa-edit'></i>
    </a>
</h2>
<div class="flexrow">
  {{#numLoop system.stress.max}}
  <div class=''>
    {{#when ../system.stress.current 'gteq' this}}
    {{#when this 'in' ../system.crucial_boxes}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{reduceBy this 1}}" data-dtype="Number" />
    <label class="label-stress stress-rosette-damage" for="stress-{{this}}-{{../actor.id}}">
    </label>
    {{else}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{reduceBy this 1}}" data-dtype="Number" />
    <label class="label-stress stress-square-damage" for="stress-{{this}}-{{../actor.id}}">
    </label>
    {{/when}}
    {{else}}
    {{#when this 'in' ../system.crucial_boxes}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{this}}" data-dtype="Number" />
    <label class="label-stress stress-rosette" for="stress-{{this}}-{{../actor.id}}"> </label>
    {{else}}
    <input id="stress-{{this}}-{{../actor.id}}" class="input-hidden" type="radio" max="2" name="system.stress.current"
      value="{{this}}" data-dtype="Number" />
    <label class="label-stress stress-square" for="stress-{{this}}-{{../actor.id}}"> </label>
    {{/when}}
    {{/when}}
  </div>
  {{/numLoop}}
</div>
<br />
<!-- Moves -->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Moves.long"}}
  <button class="create-item-circle" data-type="move">
    <i class="fas fa-plus"></i>
  </button>
</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=moves type="move"}}
<br />
<!-- Traits -->
<h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.Traits.long"}}
  <button class="create-item-circle" data-type="trait">
    <i class="fas fa-plus"></i>
  </button>
</h2>
{{> "systems/household/templates/actor/parts/actor-list-items.hbs" items=traits type="trait"}}
<br />
<!-- Description -->
      <h2 class="characteristic-title" style="text-align: center;">{{localize "HOUSEHOLD.SheetLabels.Description"}}</h2>
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}