{{#each items as |item id|}}
<details class='item-list' data-item-id='{{item._id}}' data-object="item" data-character-id="{{@root/id}}"
  class="default square" {{#multipleOf @index 2}} {{else}}style="background-color: rgba(0,0,0,0.1)" {{/multipleOf}}>
  <summary>
    <label style="margin-right: 10px;">
      <a style="" class="item-control item-chat" title="Show Item" data-action="show" data-sub-action="show">
        <img style="border: 0px;" class="item-summary-icon" src='{{item.img}}' title='{{item.name}}' width='24'
          height='24' />
      </a>
    </label>
    <span class="item-summary-title" style="opacity: 1.0;">{{item.name}}</span>
    {{#if item.system.type}}
    <label style="">
      <a style="" class="item-control roll-action" title="Roll Item" data-action="roll" data-type="attack">
        <i class="fa-regular fa-dice"></i>
      </a>
    </label>
    {{/if}}
    {{#each item.system.suits as | value key|}}
    {{#if value}}
    <i style="color: {{getFieldColor key}}" class="fa-household-{{getSuitFromField key}}-full"></i>
    <!--img style="vertical-align:middle; border: 0px" width="12" height="12"
          src="/systems/household/assets/sheet/{{key}}-filled.svg" /-->
    {{/if}}
    {{/each}}
    {{!-- <label>
      <a style="float:right; margin-left: 5px;" class='item-control item-delete'
        title='{{localize "DOCUMENT.Delete" type=' Item'}}' data-action="itemDelete" data-item-id="{{item._id}}">
        <i class='fas fa-trash'></i>
      </a>
    </label>
    <label><a style=" float:right; margin-left: 5px;" class='item-control item-edit'
        title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action="itemEdit" data-item-id="{{item._id}}">
        <i class='fas fa-edit'></i>
      </a>
    </label>
    <label><a style=" float:right; margin-left: 5px;" class='item-control item-edit'
        title='{{localize "DOCUMENT.Update" type=' Item'}}' data-action="show" data-item-id="{{item._id}}"
        data-character-id="{{@root.id}}">
        <i class='fas fa-comment'></i>
      </a>
    </label> --}}
    {{!-- {{#if item.system.price}}
    <label class='' style="float:right; margin-left: 5px;margin-right: 15px">
      {{item.system.price}}
      <i style="color: #d49d08" class="fa-solid fa-coins"></i>
    </label>
    {{/if}} --}}
    {{#if item.system.type}}
    <label style="float:right; margin-left: 5px;margin-right: 5px">
      <i class="fa-regular {{getWeaponTypeIcon item.system.type}}"></i>
    </label>
    {{/if}}
    {{#if item.system.field}}
    <label style="float:right; margin-left: 5px;margin-right: 5px">
      <i style="color: {{getFieldColor item.system.field}}"
        class="fa-household-{{getSuitFromField item.system.field}}-full"></i>
    </label>
    {{/if}}
    {{#when type 'eq' 'move' }}
   
    <label class='item-control item' style="float:right; margin-left: 5px;margin-right: 15px; cursor: pointer;"
      for="move-{{item._id}}" data-item-id="{{item._id}}" data-character-id="{{@root/id}}" data-action="use">
    {{#if item.system.exhausted}}
      <i style="color: red" class="fa-regular fa-toggle-large-off" ></i>
    {{else}}
      <i style="color: green" class="fa-regular fa-toggle-large-on"></i>
    </label>
    {{/if}}
    </label>
    {{/when}}
  </summary>
  <br />
  {{#if item.system.requirements}}
  <b>{{item.system.requirements}}</b><br /><br />
  {{/if}}
  {{#if item.system.trait}}
  <b>{{item.system.trait}}</b><br /><br />
  {{/if}}
  {{#when type 'eq' 'contract' }}
  <div class="flexrow" style="align-items: start;">
    <div>
      <div class="">
        <h4 style=" font-weight: bold; text-align: center">{{localize "HOUSEHOLD.Concession.long"}}:
          {{item.system.concession.name}}</h4>
      </div>
      <div>{{{item.system.concession.details}}}</div>
    </div>
    <div>
      <div>
        <h4 style=" font-weight: bold; text-align: center">{{localize "HOUSEHOLD.Counterpart.long"}}:
          {{item.system.counterpart.name}}</h4>
      </div>
      <div>{{{item.system.counterpart.details}}}</div>
    </div>
  </div>
  {{else}}
  {{{item.system.description}}} <br />
  {{/when}}
</details>
{{/each}}