<div class="item-sheet">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" data-field="img" title="{{item.name}}" />
    <div class="header-fields">
      <input class="item-name" name="name" type="text" value="{{item.name}}" placeholder="Name" data-dtype="String" />
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">{{localize "HOUSEHOLD.SheetLabels.Type"}}</label>
          <input type="text" name="system.type" value="{{system.type}}" data-dtype="String" />
        </div>
        <div style="display: flex; align-items: center;">
          <input class="resource-checkbox" id="{{item._id}}-free-reroll" type="checkbox" name="system.free_reroll"
            value="{{system.free_reroll}}" data-dtype="Boolean" {{#if system.free_reroll}}checked{{/if}} />
          <label for="{{item._id}}-free-reroll" class="resource-label">{{localize "HOUSEHOLD.FreeReRoll.long"}}</label>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-action="tab" data-tab="description" data-group="primary">{{localize
      "HOUSEHOLD.Concession.long"}}</a>
    <a class="item" data-action="tab" data-tab="attributes" data-group="primary">{{localize
      "HOUSEHOLD.Counterpart.long"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
      <br />
      <div class="resource" style="display: flex; gap: 1em;">
        <label class="resource-label" style="flex: 1">{{localize "HOUSEHOLD.SheetLabels.Name"}}</label>
        <input type="text" name="system.concession.name" value="{{system.concession.name}}" data-dtype="String" />
      </div>
      <br />
      <label class="resource-label">{{localize "HOUSEHOLD.SheetLabels.Description"}}</label>
      <div class="text-editor" style="height: 190px;">
        {{#if editable}}
        <prose-mirror name="system.concession.details" button="true" editable="{{editable}}" toggled="false"
          value="{{system.concession.details}}">
          {{{concessionHTML}}}
        </prose-mirror>
        {{else}}
        {{{concessionHTML}}}
        {{/if}}
      </div>

    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes {{tabs.attributes.cssClass}}" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <br />
      <div class="resource" style="display: flex; gap: 1em;">
        <label class="resource-label" style="flex: 1">{{localize "HOUSEHOLD.SheetLabels.Name"}}</label>
        <input type="text" name="system.counterpart.name" value="{{system.counterpart.name}}" data-dtype="String" />
      </div>
      <br />
      <label class="resource-label">{{localize "HOUSEHOLD.SheetLabels.Description"}}</label>
      <div class="text-editor" style="height: 190px;">
        {{#if editable}}
        <prose-mirror name="system.counterpart.details" button="true" editable="{{editable}}" toggled="false"
          value="{{system.counterpart.details}}">
          {{{counterpartHTML}}}
        </prose-mirror>
        {{else}}
        {{{counterpartHTML}}}
        {{/if}}
      </div>
    </div>
  </section>

  {{log system}}
</div>