<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-6col">
        <div class="resource grid-5col">
          <label class="resource-label">{{localize "HOUSEHOLD.Trait.long"}}</label>
          <input class="" type="text" name="system.trait" value="{{system.trait}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "HOUSEHOLD.Price.long"}}</label>
          <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "HOUSEHOLD.SheetLabels.Description"}}</a>
    <!--a class="item" data-tab="attributes">Attributes</a-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <!--label class="resource-label my-title">Description</label-->
       {{editor
        item.system.description
        target='system.description'
        button=true
        editable=editable
        engine='prosemirror'
      }}
    </div>
  </section>
</form>

{{log system}}