<div class="item-sheet">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" data-field="img" title="{{item.name}}" />
    <div class="header-fields">
      <input class="item-name" name="name" type="text" value="{{item.name}}" placeholder="Name" data-dtype="String" />
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">{{localize "HOUSEHOLD.Profession.long"}}</label>
          <input type="text" name="system.profession" value="{{system.profession}}" data-dtype="String" />
        </div>
        <div style="    justify-self: center;
    text-align: center;">
    <label for="{{item._id}}-has-companion" class="resource-label">{{localize
            "HOUSEHOLD.HasCompanion.long"}}</label>
          <input class="resource-checkbox" id="{{item._id}}-has-companion" type="checkbox" name="system.has_companion"
            value="{{system.has_companion}}" data-dtype="Boolean" {{#if system.has_companion}}checked{{/if}} />
        </div>
        <div style="    justify-self: center;
    text-align: center;">
    <label for="{{item._id}}-free-reroll" class="resource-label">{{localize "HOUSEHOLD.FreeReRoll.long"}}</label>
          <input class="resource-checkbox" id="{{item._id}}-free-reroll" type="checkbox" name="system.free_reroll"
            value="{{system.free_reroll}}" data-dtype="Boolean" {{#if system.free_reroll}}checked{{/if}} />
          
        </div>
      </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-action="tab" data-tab="description" data-group="primary">{{localize
      "HOUSEHOLD.SheetLabels.Description"}}</a>
    <a class="item" data-action="tab" data-tab="configuration" data-group="primary">{{localize
      "HOUSEHOLD.SheetLabels.Configuration"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab {{tabs.description.cssClass}}" data-group="primary" data-tab="description">
      <div class="text-editor" style="height: 270px">
        {{#if editable}}
        <prose-mirror name="system.description" button="true" editable="{{editable}}" toggled="false"
          value="{{system.description}}">
          {{{descriptionHTML}}}
        </prose-mirror>
        {{else}}
        {{{descriptionHTML}}}
        {{/if}}
      </div>
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab fields {{tabs.configuration.cssClass}}" data-group="primary" data-tab="configuration">
      <br />
      <div class="resource">
        <label class="resource-label">{{localize "HOUSEHOLD.Field.long"}}</label>
        {{!-- <input type="text" name="system.field" value="{{system.field}}" data-dtype="String" /> --}}
        <select name="system.field">
          <option value="" {{#ifEquals system.field "" }}selected{{/ifEquals}}>Select one Field</option>
          <option value="society" {{#ifEquals system.field "society" }}selected{{/ifEquals}}>Society</option>
          <option value="academia" {{#ifEquals system.field "academia" }}{{/ifEquals}}>Academia</option>
          <option value="war" {{#ifEquals system.field "war" }}selected{{/ifEquals}}>War</option>
          <option value="street" {{#ifEquals system.field "street" }}selected{{/ifEquals}}>Street</option>
        </select>
      </div>
      <br />
      <div class="resource">
        <label class="resource-label">{{localize "HOUSEHOLD.SheetLabels.Skills"}}</label>
        <input type="text" name="system.skills" value="{{system.skills}}" data-dtype="String"
          placeholder="{{localize 'HOUSEHOLD.Placeholders.Skills'}}" />
      </div>
      <br />
      <div class="resource">
        <label class="resource-label">{{localize "HOUSEHOLD.Traits.long"}}</label>
        <input type="text" name="system.traits" value="{{system.traits}}" data-dtype="String"
          placeholder="{{localize 'HOUSEHOLD.Placeholders.Traits'}}" />
      </div>
    </div>

  </section>


  {{log system}}
</div>